# You should not edit this file directly.  Instead, you should edit requirements.txt.in.
argcomplete==1.11.1
atomicwrites==1.3.0
attrs==19.3.0
awscli==1.17.15
boto3==1.11.15
botocore==1.14.15
cachetools==4.0.0
certifi==2019.11.28
cffi==1.14.0
chalice==1.12.0
chardet==3.0.4
Click==7.0
cloud-blobstore==3.2.0
colorama==0.4.3
commonmark==0.9.1
coverage==5.0.3
crc32c==2.0
cryptography==3.2
dbio-cli==1.0.0
dcplib==2.1.2
docutils==0.15.2
domovoi==2.0.2
elasticsearch==7.5.1
entrypoints==0.3
enum-compat==0.0.3
flake8==3.7.9
furl==2.1.0
google-api-core==1.16.0
google-auth==1.11.0
google-auth-oauthlib==0.4.1
google-cloud-core==1.3.0
google-cloud-storage==1.26.0
google-resumable-media==0.5.0
googleapis-common-protos==1.51.0
idna==2.8
importlib-metadata==1.5.0
Jinja2==2.11.1
jmespath==0.9.4
jsonpointer==1.14
jsonschema==3.0.0
MarkupSafe==1.1.1
mccabe==0.6.1
mypy==0.761
mypy-extensions==0.4.3
oauthlib==3.1.0
orderedmultidict==1.0.1
protobuf==3.11.3
puremagic==1.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.5.0
pycparser==2.19
pyflakes==2.1.1
PyJWT==1.7.1
pyrsistent==0.15.7
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.2
requests==2.22.0
requests-aws4auth==0.9
requests-oauthlib==1.3.0
rsa==3.4.2
s3transfer==0.3.3
six==1.14.0
tenacity==5.0.4
termcolor==1.1.0
tqdm==4.42.1
tweak==1.0.3
typed-ast==1.4.1
typing==3.6.4
typing-extensions==3.7.4.1
urllib3==1.25.8
zipp==2.2.0
