# Be sure to run "make requirements.txt after editing this file.
flake8  >= 3.4.1
mypy  >= 0.530
coverage  >= 4.4.1
pyyaml >= 4.2b1
Jinja2 >= 2.10.1
urllib3 >= 1.24.2
domovoi
awscli
hca
pytz
cloud_blobstore
elasticsearch
requests_aws4auth
