# You should not edit this file directly.  Instead, you should edit requirements.txt.in.
argcomplete==1.10.0
asn1crypto==0.24.0
atomicwrites==1.3.0
attrs==19.1.0
awscli==1.16.209
boto3==1.9.199
botocore==1.12.199
cachetools==3.1.1
certifi==2019.6.16
cffi==1.12.3
chalice==1.9.1
chardet==3.0.4
click==6.7
cloud-blobstore==3.1.0
colorama==0.3.9
commonmark==0.9.0
coverage==4.5.4
crc32c==1.7
cryptography==2.3.1
dcplib==2.1.2
docutils==0.14
domovoi==2.0.1
elasticsearch==7.0.2
entrypoints==0.3
enum-compat==0.0.2
flake8==3.7.8
future==0.17.1
google-api-core==1.14.2
google-auth==1.6.3
google-auth-oauthlib==0.4.0
google-cloud-core==1.0.3
google-cloud-storage==1.17.0
google-resumable-media==0.3.2
googleapis-common-protos==1.6.0
hca==6.4.0
idna==2.8
Jinja2==2.10.1
jmespath==0.9.4
jsonpointer==1.14
jsonschema==2.6.0
MarkupSafe==1.1.1
mccabe==0.6.1
mypy==0.720
mypy-extensions==0.4.1
oauthlib==3.0.2
protobuf==3.9.0
puremagic==1.4
pyasn1==0.4.6
pyasn1-modules==0.2.6
pycodestyle==2.5.0
pycparser==2.19
pyflakes==2.1.1
PyJWT==1.7.1
python-dateutil==2.8.0
pytz==2019.2
PyYAML==5.1.2
requests==2.22.0
requests-aws4auth==0.9
requests-oauthlib==1.2.0
rsa==3.4.2
s3transfer==0.2.1
six==1.12.0
tenacity==5.0.4
tweak==1.0.3
typed-ast==1.4.0
typing==3.6.4
typing-extensions==3.7.4
urllib3==1.25.3
